{
  "api_key": "<UPDATE WITH YOUR API KEY FROM POOLTOOL PROFILE PAGE>",
  "pools": [
    {
      "name": "<UPDATE TO MY POOL TICKER>",
      "pool_id": "$(cat ${CNODE_HOME}/stakepoolid.txt)",
      "host" : "127.0.0.1",
      "port": {{ cardano_default_port }}
    }
  ]
}
