{
"name": "{{ cardano_pool_name }}",
"description": "{{ cardano_pool_description }}",
"ticker": "{{ cardano_pool_ticker }}",
"homepage": "{{ cardano_pool_homepage }}"
"extended": "{{ cardano_pool_extended }}"
}